/*rgb(84,56,71)*/

body {
   background-color: rgb(32,35,50);
}

#board-area {
    position: relative;
    width: 640px;
    height: 640px;
    margin:0px auto;
    background: rgb(112, 197, 206) url(../imgs/background.svg) no-repeat left bottom;
}

.board {
    position: relative;
    width: 640px;
    height: 640px;
    overflow: hidden;
}

.scrolling-border {
  position: absolute;
  height: 10px;
  width: 480px;
  top: 567px;
  background: transparent url(../imgs/scrolling-border.png) repeat-x top left;
}

.snitch {
    position: absolute;
    background: transparent url(../imgs/snitch.svg) no-repeat top left;
    width: 20px;
    height: 20px;
}

.snitch-tracker {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent url(../imgs/snitch-tracker.svg) no-repeat top left;
    scale: 1.2;
}

.ship {
    position: absolute;
    background: transparent url(../imgs/ship-base.svg) no-repeat top left;
    width: 100px;
    height: 100px;
}

.player-shield {
    position: absolute;
    width: 100px;
    height: 100px;
    border: thick double #32a1ce;
    border-radius: 100px;
}

.ship-effect {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ship-explosion {
    position: absolute;
    background: transparent url(../imgs/ship-explosion.svg) no-repeat top left;
    width: 100px;
    height: 100px;
}

.small-thrust {
    background: transparent url(../imgs/ship-thrust-small.svg) no-repeat top left;
}

.big-thrust {
    background: transparent url(../imgs/ship-thrust-big.svg) no-repeat top left;
}

.great-thrust {
    background: transparent url(../imgs/ship-thrust-great.svg) no-repeat top left;
}

.forward-thrust {
  scale: 1.5;
}

.reverse-thrust {
  top: -22px;
  rotate: 180deg;
}

.left-thrust {
  rotate: 90deg;
  top: -32px;
  left: 8px;
}

.right-thrust {
  rotate: -90deg;
  top: -32px;
  left: -8px;
}

.pillar {
  position: absolute;
  width: 86px;
  height: 200px;
}

.pillar-upper {
  top: 0px;
  right: 150px;
  background-image: url(../imgs/upper-pillar-head.png), url(../imgs/pillar-bkg.png);
  background-position: left bottom, left bottom;
  background-repeat: no-repeat, repeat-y;
}

.pillar-lower {
  bottom: 80px;
  right: 150px;
  background-image: url(../imgs/lower-pillar-head.png), url(../imgs/pillar-bkg.png);
  background-position: left top, left top;
  background-repeat: no-repeat, repeat-y;
}

.score {
  position: absolute;
  width: 300px;
  text-align: center;
  left: 170px;
  font-size: 58px;
  top: 13px;
  color: #fff;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  z-index: 5;
  font-family: monospace;
}

.analog {
  position: absolute;
  text-align: center;
  width: 300px;
  left: 90px;
  font-size: 18;
  top: 0px;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 5;
  font-family: monospace;
}

.analog-text {
  margin: 0px;
}

.analog-value {
  background-color: #9cb0ecdd;
  height: 1em;
}

.debug-hud {
  position: absolute;
  bottom: 0px;
  display: flex;
}

.debug-hud > * {
  flex: min-content 100px;
}

.shield {
  position: absolute;
  bottom: 200px;
  right: 10px;
  background-color: blue;
  height: 240px;
  width: 10px;
}

.shield-used {
  border: thick double #32a1ce;
}

.debug {
    color: rgb(244,176,36);
    font-size: 10px;
    z-index: 5;
    font-family: monospace;
    padding: 1px 10px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    margin: 1px;
}

.start-button {
    color: rgb(244,176,36);
    background-color: #fff;
    font-size: 40px;
    z-index: 5;
    position: absolute;
    font-family: monospace;
    border-bottom: 3px solid rgb(84,56,71);
    border-right: 3px solid rgb(84,56,71);
    padding: 1px 10px;
    top: 363px;
    left: 210px;
    text-align: center;
    width: 200px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.asteroid-big {
    position: absolute;
    background: transparent url(../imgs/asteroid-big.svg) no-repeat top left;
    width: 100px;
    height: 100px;
}

.asteroid-small-1 {
    background: transparent url(../imgs/asteroid-small-1.svg) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
}

.asteroid-small-2 {
    background: transparent url(../imgs/asteroid-small-2.svg) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
}

.asteroid-small-3 {
    background: transparent url(../imgs/asteroid-small-3.svg) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
}

.asteroid-small-4 {
    background: transparent url(../imgs/asteroid-small-4.svg) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
}

.debris-big {
    position: absolute;
    background: transparent url(../imgs/debris-big.svg) no-repeat top left;
    width: 100px;
    height: 100px;
}

.debris-small-1 {
    background: transparent url(../imgs/debris-small-1.svg) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
}

.debris-small-2 {
    background: transparent url(../imgs/debris-small-2.svg) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
}

.debris-small-3 {
    background: transparent url(../imgs/debris-small-3.svg) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
}

.debris-small-4 {
    background: transparent url(../imgs/debris-small-4.svg) no-repeat top left;
    position: absolute;
    width: 50px;
    height: 50px;
}

@media (max-width: 480px){
    body {
        margin: 0px;
    }
}
